
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.DS_Store
tests/example.spec.ts
.env
*.code-workspace
browserstack.yml
log/
*.log
local.log
playwright-browserstack-sdk.config.ts
playwright-browserstack-sdk.config.temp.json
browserstackSetupConfig.json
