name: BS Login Functionality tests

on:
  workflow_dispatch:
  schedule:

    # 12:00 AM America/New_York is usually 01:00 UTC (during Standard Time).
    - cron: "0 4 * * *"  


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Create .env
        run: |
          echo "AUTH_USER=${{ secrets.AUTH_USER }}" >> .env
          echo "AUTH_PASS=${{ secrets.AUTH_PASS }}" >> .env
          echo "BASE_URL=${{ secrets.BASE_URL }}" >> .env

      - name: Create BrowserStack config
        run: |
          sed "s/\${BROWSERSTACK_USERNAME}/${{ secrets.BROWSERSTACK_USERNAME }}/g" login-registration-functionality.spec.yml > browserstack.yml
          sed -i "s/\${BROWSERSTACK_ACCESS_KEY}/${{ secrets.BROWSERSTACK_ACCESS_KEY }}/g" browserstack.yml
          sed -i "s/\${BUILD_NUMBER}/${{ github.run_number }}/g" browserstack.yml

      - name: Run Playwright tests on BrowserStack
        run: npx browserstack-node-sdk playwright test login-functionality.spec.ts

      - name: Upload artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: |
            test-results/
            playwright-report/